<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xm06.pms.dao.AnnounceMapper" >
  <resultMap id="BaseResultMap" type="org.xm06.pms.vo.Announce" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="main_body" property="mainBody" jdbcType="VARCHAR" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
    <result column="update_date" property="updateDate" jdbcType="TIMESTAMP" />
    <result column="is_valid" property="isValid" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, title, main_body, create_date, update_date, is_valid
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm06_t_announce
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm06_t_announce
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xm06.pms.vo.Announce" >
    insert into xm06_t_announce (id, user_id, title, 
      main_body, create_date, update_date, 
      is_valid)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, 
      #{mainBody,jdbcType=VARCHAR}, #{createDate,jdbcType=TIMESTAMP}, #{updateDate,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="org.xm06.pms.vo.Announce" >
    insert into xm06_t_announce
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="mainBody != null" >
        main_body,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="updateDate != null" >
        update_date,
      </if>
      <if test="isValid != null" >
        is_valid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="mainBody != null" >
        #{mainBody,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        #{isValid,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xm06.pms.vo.Announce" >
    update xm06_t_announce
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="mainBody != null" >
        main_body = #{mainBody,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="updateDate != null" >
        update_date = #{updateDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null" >
        is_valid = #{isValid,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xm06.pms.vo.Announce" >
    update xm06_t_announce
    set user_id = #{userId,jdbcType=INTEGER},
      title = #{title,jdbcType=VARCHAR},
      main_body = #{mainBody,jdbcType=VARCHAR},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      update_date = #{updateDate,jdbcType=TIMESTAMP},
      is_valid = #{isValid,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryAllAnnounce" parameterType="java.lang.Integer" resultType="org.xm06.pms.vo.Announce">
    select * from xm06_t_announce
    <if test="orderType==1">
      order by create_date desc
    </if>
    <if test="orderType==2">
      order by create_date asc
    </if>
  </select>

  <select id="queryUserAnnounce" parameterType="java.lang.Integer" resultType="org.xm06.pms.vo.Announce">
    select * from xm06_t_announce where user_id = #{userId,jdbcType=INTEGER}
    <if test="orderType==1">
      order by create_date desc
    </if>
    <if test="orderType==2">
      order by create_date asc
    </if>
  </select>

  <delete id="deleteByIds" parameterType="java.util.List">
    delete from xm06_t_announce
    <where>
      <foreach collection="announceIds"  open="id in(" close=")" item="id" separator=",">
        #{id}
      </foreach>
    </where>
    and
    user_id = #{userId, jdbcType=INTEGER}
  </delete>
</mapper>