<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xm06.pms.dao.InformMapper" >
  <resultMap id="BaseResultMap" type="org.xm06.pms.vo.Inform" >
    <id column="id" property="id" jdbcType="BIGINT" />
    <result column="group_id" property="groupId" jdbcType="INTEGER" />
    <result column="send_user_id" property="sendUserId" jdbcType="INTEGER" />
    <result column="send_date" property="sendDate" jdbcType="TIMESTAMP" />
    <result column="message" property="message" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, group_id, send_user_id, send_date, message
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Long" >
    select 
    <include refid="Base_Column_List" />
    from xm06_t_inform
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long" >
    delete from xm06_t_inform
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xm06.pms.vo.Inform" >
    insert into xm06_t_inform (id, group_id, send_user_id,
      send_date, message)
    values (#{id,jdbcType=BIGINT}, #{groupId,jdbcType=INTEGER}, #{sendUserId,jdbcType=INTEGER},
      #{sendDate,jdbcType=TIMESTAMP}, #{message,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="org.xm06.pms.vo.Inform" >
    insert into xm06_t_inform
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="groupId != null" >
        group_id,
      </if>
      <if test="sendUserId != null" >
        send_user_id,
      </if>
      <if test="sendDate != null" >
        send_date,
      </if>
      <if test="message != null" >
        message,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=BIGINT},
      </if>
      <if test="groupId != null" >
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null" >
        #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null" >
        #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        #{message,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xm06.pms.vo.Inform" >
    update xm06_t_inform
    <set >
      <if test="groupId != null" >
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="sendUserId != null" >
        send_user_id = #{sendUserId,jdbcType=INTEGER},
      </if>
      <if test="sendDate != null" >
        send_date = #{sendDate,jdbcType=TIMESTAMP},
      </if>
      <if test="message != null" >
        message = #{message,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>

  <update id="updateByPrimaryKey" parameterType="org.xm06.pms.vo.Inform" >
    update xm06_t_inform
    set group_id = #{groupId,jdbcType=INTEGER},
      send_user_id = #{sendUserId,jdbcType=INTEGER},
      send_date = #{sendDate,jdbcType=TIMESTAMP},
      message = #{message,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>


  <select id="queryNotReadInform" resultType="org.xm06.pms.vo.Inform">
	SELECT
        i.*
    FROM
        xm06_t_inform i ,
        xm06_t_not_read_inform nri
    WHERE nri.user_id = #{userId}
    and nri.group_id = #{groupId}
    AND nri.inform_id = i.id
  </select>

  <delete id="removeNotRead">
    delete from xm06_t_not_read_inform where user_id=#{userId} and group_id=#{groupId}
  </delete>

  <select id="queryInformByGroupId" resultType="org.xm06.pms.vo.Inform">
    select * from xm06_t_inform where group_id = #{groupId} order by send_date desc
  </select>

  <delete id="removeInformOfGroup" parameterType="java.lang.Integer">
    delete from xm06_t_inform where group_id = #{groupId}
  </delete>

</mapper>