<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.xm06.pms.dao.MemoMapper" >
  <resultMap id="BaseResultMap" type="org.xm06.pms.vo.Memo" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="is_finish" property="isFinish" jdbcType="BOOLEAN"/>
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="memo" property="memo" jdbcType="VARCHAR" />
    <result column="stale_date" property="staleDate" jdbcType="TIMESTAMP" />
    <result column="create_date" property="createDate" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, user_id, memo, stale_date, create_date, is_finish
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from xm06_t_memo
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from xm06_t_memo
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="org.xm06.pms.vo.Memo" >
    insert into xm06_t_memo (id, user_id, memo,
      stale_date, create_date, is_finish)
    values (#{id,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{memo,jdbcType=VARCHAR}, 
      #{staleDate,jdbcType=TIMESTAMP}, #{createDate,jdbcType=TIMESTAMP}, #{isFinish,jdbcType=BOOLEAN})
  </insert>
  <insert id="insertSelective" parameterType="org.xm06.pms.vo.Memo" >
    insert into xm06_t_memo
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="memo != null" >
        memo,
      </if>
      <if test="staleDate != null" >
        stale_date,
      </if>
      <if test="createDate != null" >
        create_date,
      </if>
      <if test="isFinish != null" >
        is_finish,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        #{memo,jdbcType=VARCHAR},
      </if>
      <if test="staleDate != null" >
        #{staleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinish != null" >
        #{isFinish,jdbcType=BOOLEAN},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="org.xm06.pms.vo.Memo" >
    update xm06_t_memo
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="memo != null" >
        memo = #{memo,jdbcType=VARCHAR},
      </if>
      <if test="staleDate != null" >
        stale_date = #{staleDate,jdbcType=TIMESTAMP},
      </if>
      <if test="createDate != null" >
        create_date = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isFinish != null" >
        is_finish = #{isFinish,jdbctype=BOOLEAN},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="org.xm06.pms.vo.Memo" >
    update xm06_t_memo
    set user_id = #{userId,jdbcType=INTEGER},
      memo = #{memo,jdbcType=VARCHAR},
      stale_date = #{staleDate,jdbcType=TIMESTAMP},
      create_date = #{createDate,jdbcType=TIMESTAMP},
      is_finish = #{isFinish,jdbcType=BOOLEAN}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="queryUserMemos" parameterType="Integer" resultType="org.xm06.pms.vo.Memo">
    select * from xm06_t_memo
    where user_id = #{userId}
    ORDER BY stale_date DESC
  </select>

  <update id="confirmMemo">
    update xm06_t_memo
    set is_finish = true
    where id = #{memoId}
  </update>

</mapper>